<section id="participations" class="maincolorbg">


  <h1 id="participations-list"><%=current_user.email %>'s Challenges</h1>

  <h2>You have accepted <%=current_user.participations.count %> challenges!</h2>
    <div class="container">
      <% @participations.each do |participation| %>

      <div class="row wow bounceIn animated" data-wow-delay="0.1s" data-wow-duration="1s">




        <h3><%= participation.challenge.name %> </h3>
        <h3><%= participation.challenge.description %> </h3>
        <h3><%= participation.challenge.start_date %> </h3>
        <img src="<%= participation.challenge.url %>" align = "middle" width = "200">

   

        <%= link_to 'Remove', "/participations/#{participation.id}", method: :delete %>
      <%end%>

      </div>

  </div>
</section>

   
 