
<section id="home-slide" class="flexslider fullbg" style="background-image:url(https://parchmentplace.files.wordpress.com/2011/05/inspiration11.jpg); height:800px;padding:0px;">
<ul class="slides">

  <li class="home-slide">
  <div class="flex-caption transparent light-font center">
  <br>
  <br>
  <br>
  <br>
    <p class="home-slide swing animated" data-wow-delay="2s" data-wow-duration="4s">
       Change the World. <span class="highlight">Grow.</span>
    </p>
    <p class="home-slide fadeInUp animated" data-wow-delay="2s" data-wow-duration="4s" style="font-size:80px;">
      <span class="highlight">Reach</span> for more happiness.
    </p>
  </div>
  </li>
  <li class="home-slide">
  <div class="flex-caption transparent light-font center">
    <p class="home-slide-content flipInY animated">
      <span class="highlight">You</span> Are Important!
    </p>
    <p class="home-slide-content slideInLeft animated">
       Find and Spread <span class="highlight">JOY!</span>
    </p>
    <button><a href="#find-challenge">Find a Challenge!</a></button>
    <button><a href="#comments-list">See what others have to say!</a></button>
  </div>
  </li>
</ul>
</section>

<!-- SEARCH
================================================== -->

<section id="find-challenge" class="graybg" style="border-top:0px; background-image:url(http://www.essexinn.com/d/essexinn/media/Attractions/ChicagoSkyline.jpg.jpg); height:800px;padding:0px;">
<div class="container">
  <div class="starter-template" style="padding-bottom:0px;">
    <h1>Search Existing Challenges</h1>
    <div class="smallsep">
    </div>
    
  </div>
  <p class="max80 wow bounceIn animated" data-wow-delay="0.1s" >
      
      <%=form_tag '/challenges', method: :get, class: "navbar-form navbar-left" do %>
        <div class="form-group">
          <%= select_tag :search_category_id, options_from_collection_for_select(Category.all, 'id', 'name') %>
        </div>

      <%= submit_tag "Find Challenges", class: "btn btn-default" %>
      <%end%>
  </p>
  <p id="list-by-category">
  <a href="/challenges#list-by-category"></a>
  </p>
 <!--  <br/><img src="http://www.essexinn.com/d/essexinn/media/Attractions/ChicagoSkyline.jpg.jpg" class="img-responsive pxauto wow bounceIn animatedUp" style="margin-bottom: -10px;" data-wow-delay="0.2s"> -->
</div>
</section>

<section id="quotes" class="flexslider fullbg" style="background-image:url(http://abstractwallpapers.biz/wp-content/uploads/2012/04/abstract-colorful-bubbles-wallpaper.jpg); height:800px;padding:0px;">
<ul class="slides">

  <li class="home-slide">
  <div class="flex-caption transparent light-font center">
  <br>
  </div>
  </li>
  <li class="home-slide">
  <div class="flex-caption transparent light-font center">
    <p class="home-slide-content flipInY animated">
      <span class="highlight">Connect To Your Heart</span> 
    </p>
  </div>
  </li>
</ul>
</section>

<section id="comments-list" class="flexslider fullbg" style="background-image:url(http://static1.squarespace.com/static/53837dc6e4b08193c94b567d/t/538a2eb7e4b02d6eaed1429d/1401564860150/peace-wallpaper.jpg); height:800px;padding:0px;">
<ul class="slides">

 
  <div class="flex-caption transparent light-font center">
  <br>
  <!-- <button><a href="/comments/new">Share your voice.</a></button> -->
    
    <p class="home-slide fadeInUp animated" data-wow-delay="2s" data-wow-duration="4s" style="font-size:80px;">
      <span class="highlight">Empower</span>
    </p>

    <% @comments.each do |comment| %>
    <ul>
    <li><%= comment.message %></li>
    </ul>
    <% end %>

    <p>
    <a href="/comments"> 
  </div>
 
  

    <p class="home-slide-content flipInY animated">
      <span class="highlight">Your Voice Is Powerful</span> 
    </p></a></li>
  </div>
  </li>
</ul>
</section>



     <h4><%= social_share_button_tag("My Landing Page")%></h4>
