<h1> <%=@challenge.name %> </h1>
<h4> CATEGORIES: <%= @challenge.category %> </h4>

<h2> DESCRIPTION: <%= @challenge.description %> </h2>

<h3> DATE: <%= @challenge.start_date %> </h3>


<% if user_signed_in? %>
  <h3> Will you take this challenge? </h3>
  
  <!-- <h5><a href="/challenges/<%= @challenge.id %>/edit">Edit</a> -->
  <%=submit_tag 'Challenge Accepted', class: "btn btn-default"  %>
  
  <!-- <h5><a href="/challenges/<%= @challenge.id %>/edit">Edit</a> -->
  <%=submit_tag 'Challenge Saved', class: "btn btn-default"  %>

<%else %>
  <h2>Please <%= link_to 'Sign In', '/users/sign_in' %> or <%= link_to 'Sign Up', '/users/sign_up' %> to take this challenge! </h2> 

<%end%>
<% if user_signed_in?%>
  <h5><a href="/challenges/<%= @challenge.id %>/edit">Edit</a>
  </h5>
  <h5><%= link_to "Delete", "/challenges/#{@challenge.id}", method: :delete%> </h5>
<%end%>