<h1> <%=@challenge.name %> </h1>
<h4> CATEGORIES:  </h4>
<ul>
<% @challenge.category_names.each do |name| %>
  <li><%= name %> </li>
<%end%>

<h2> DESCRIPTION: <%= @challenge.description %> </h2>

<h3> DATE: <%= @challenge.start_date %> </h3>

<h3>  <%= @challenge.counter %>  people have accepted this challenge.</h3>



<% if user_signed_in? %>
  <h3> Will you take this challenge? </h3>
  
      <%= form_tag '/possible_participations', method: :post do %>
      <%= hidden_field_tag :challenge_id, @challenge.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= submit_tag "Challenge Saved", class: "btn btn-default" %>
      <%end%> 
      <br>
      <%= form_tag '/participations', method: :post do %>
      <%= hidden_field_tag :challenge_id, @challenge.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= submit_tag "Challenge Accepted", class: "btn btn-default" %>
      <%end%>

      <a href="/challenges/<%= @challenge.id %>/comments/new">New Comment</a>

<%else %>
  <h2>Please <%= link_to 'Sign In', '/users/sign_in' %> or <%= link_to 'Sign Up', '/users/sign_up' %> to take this challenge! </h2> 

<%end%>
<% if user_signed_in? && current_user.id == @challenge.creator_id%>
<button onmouseover="makeAlert()"> Thank you!</button>
<script>
  function makeAlert() {
    alert("Thank you for creating this challenge!")
  }
</script>
  <h5><a href="/challenges/<%= @challenge.id %>/edit">Edit</a>
  </h5>
  <h5><%= link_to "Delete", "/challenges/#{@challenge.id}", method: :delete%> </h5>
<%end%>