<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="img/favicon.ico">
<title>Challenges App</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<!-- Bootstrap core CSS -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- Font Awesome CSS -->
<!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
<!-- Animate CSS -->
<%= stylesheet_link_tag "animate.css", media: "all" %>
<!-- Custom styles for this template -->
<%= stylesheet_link_tag "style.css", media: "all" %>
<!-- Skin color for this template -->
<%= stylesheet_link_tag "skin-orange.css", media: "all" %>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>



<body data-spy="scroll" data-target=".navbar-fixed-top">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
       <li class="page-scroll"><a class="navbar-brand" href="/challenges/landing">Happy</a></li>
          <li class="page-scroll"><a href="/challenges#challenge-list">Find a Challenge</a></li>
      
        
        
        <li class="page-scroll"><a href="/challenges?sort=name#challenge-list">Sort by Challenge Name</a></li>
        <li class="page-scroll"><a href="/challenges?sort=start_date#challenge-list">Sort by Date</a></li>
        <li class="page-scroll"><a href="/saved_challenges#saved-challenges-list">Saved Challenges</a></li>
        <li class="page-scroll"><a href="/participations#participations-list">Participations</a></li>
       
        <% if user_signed_in? %>
          <li class="page-scroll"><a href="/challenges/new#new-challenge-form">New Challenge</a></li>
          <li class="page-scroll"><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
      <%else%> 
          <li class="page-scroll"><%= link_to 'Sign Up', '/users/sign_up' %></a></li>
          <li class="page-scroll"><%= link_to 'Sign In', '/users/sign_in' %></li>
      <%end%>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>



      <%=form_tag '/challenges', method: :get, class: "navbar-form navbar-left" do %>
        <div class="form-group">
          <%= select_tag :search_category_id, options_from_collection_for_select(Category.all, 'id', 'name') %>
        </div>

      <%= submit_tag "Find Challenges", class: "btn btn-default" %>
      <%end%>
  </p>
  <p id="list-by-category">
  <a href="/challenges#list-by-category"></a>
  </p>
  
</div>
</section>

<% if controller_name == 'challenges' && action_name == 'landing_index' %>
<div class="container-fluid no-default">
<% else %>
<div class="container-fluid no-default main-container">
<% end %>
    <%= yield %>
</div>


    <section id="footer" class="footer">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="social-icons">
        <li class="wow bounceIn animated" data-wow-delay="0.1s"><a href="#."><i class="fa fa-facebook"></i></a></li>
        <li class="wow bounceIn animated" data-wow-delay="0.2s"><a href="#."><i class="fa fa-twitter"></i></a></li>
        <li class="wow bounceIn animated" data-wow-delay="0.3s"><a href="#."><i class="fa fa-google-plus"></i></a></li>
        <li class="wow bounceIn animated" data-wow-delay="0.4s"><a href="#."><i class="fa fa-dribbble"></i></a></li>
        <li class="wow bounceIn animated" data-wow-delay="0.5s"><a href="#."><i class="fa fa-pinterest"></i></a></li>
      </ul>
      <p class="copyright">
         Copyrights 2014, WowThemes.net. All rights reserved.
      </p>
    </div>
  </div>
</div>
</section>


</body>
</html>
